/* CSS Document */
.howdydo-style {
	background: #FAED9B;
	border-bottom: 2px solid #FC0;
	color: #666;
	text-align: center;
	text-shadow: 0 1px #fff, 0 -1px #CCC;
}
#howdydo-wrapper {
	overflow: visible;
	padding: 0;
	width: 100%;
}
.howdydo-box {
	display: none;
	padding: 10px 0;
	width: 100%;
	z-index: 9999;
}
#howdydo-close {
	position: absolute;
/*	float: right; 
	margin: 0 30px 0 0; */
	bottom: 10px;
	right: 30px;
}
#howdydo-open {
	padding: 10px;
	position: absolute;
	right: 20px;
	top: 0;
}
.hover { position: absolute; top: 0;  left: 0; }
.scroll { position: fixed; top: 0;  left: 0; }
.push {	position: relative; clear: both; float: left; margin-bottom: 1px; }