/* CSS Document */
.howdydo-style {
	background: #047DBA;
	border-bottom: 3px solid #FFF;
	color: #C2DDFF;
	text-align: center;
	font-family: Helvetica,Arial,Verdana,sans-serif;
	font-size: 14px;
	-moz-box-shadow: 0px 2px 4px #ccc;
	-webkit-box-shadow: 0px 2px 4px #ccc;
	box-shadow: 0px 2px 4px #ccc;
}
#howdydo-wrapper {
	overflow: visible;
	padding: 0;
	width: 100%;
}
.howdydo-box {
	display: none;
	padding: 10px 0;
	width: 100%;
	z-index: 9999;
}
#howdydo-close {
	position: absolute;
/*	float: right; 
	margin: 0 30px 0 0; */
	bottom: 10px;
	right: 30px;
}
#howdydo-open {
	padding: 8px;
	position: absolute;
	right: 20px;
	top: 0;
	border-right: 3px solid #fff;
	border-left: 3px solid #fff;
	border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	-webkit-border-radius: 0 0 5px 5px;
}
.hover { position: absolute; top: 0;  left: 0; }
.scroll { position: fixed; top: 0;  left: 0; }
.push {	position: relative; clear: both; float: left; margin-bottom: 1px; }